<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearnOpenGLES_2_Shaders.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D82E2CA21EC98CE4007A983F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D82E2CBB1EC98CE4007A983F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D82E2CC61EC98CE5007A983F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
